# Ignore virtual environments
venv/
.env/
.*_venv/

# Ignore Python cache and temp files
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

